        <div class="form-box">
            <div class="alert alert-danger alert-dismissable" ng-show="message">
                <i class="fa fa-ban"></i>
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            </div>
            <div class="header">Email Verification</div>
            <form>
                <div class="body bg-gray">
                    <div class="form-group">
                        {{message}}
                    </div>
                    </div>
                              
            </form>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
